### Test

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Medicare_Physician_Other_Practitioners_by_Provider_and_Service_2023.csv", low_memory=False)

In [3]:
df = df[(df['Rndrng_Prvdr_State_Abrvtn'] == 'NY') & (df['Rndrng_Prvdr_Type'] == 'Internal Medicine')]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67657 entries, 2696 to 9658475
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rndrng_NPI                     67657 non-null  int64
 1   Rndrng_Prvdr_Last_Org_Name     67657 non-null  object
 2   Rndrng_Prvdr_First_Name        67657 non-null  object
 3   Rndrng_Prvdr_MI                33881 non-null  object
 4   Rndrng_Prvdr_Crdntls           63333 non-null  object
 5   Rndrng_Prvdr_Ent_Cd            67657 non-null  object
 6   Rndrng_Prvdr_St1               67657 non-null  object
 7   Rndrng_Prvdr_St2               20279 non-null  object
 8   Rndrng_Prvdr_City              67657 non-null  object
 9   Rndrng_Prvdr_State_Abrvtn      67657 non-null  object
 10  Rndrng_Prvdr_State_FIPS        67657 non-null  object
 11  Rndrng_Prvdr_Zip5              67657 non-null  object
 12  Rndrng_Prvdr_RUCA              67649 non-null  float64
 13  Rndrng_Prvdr_RUCA_Desc         67649 non-null  object
 14  Rndrng_Prvdr_Cntry             67657 non-null  object
 15  Rndrng_Prvdr_Type              67657 non-null  object
 16  Rndrng_Prvdr_Mdcr_Prtcptg_Ind  67657 non-null  object
 17  HCPCS_Cd                       67657 non-null  object
 18  HCPCS_Desc                     67657 non-null  object
 19  HCPCS_Drug_Ind                 67657 non-null  object
 20  Place_Of_Srvc                  67657 non-null  object
 21  Tot_Benes                      67657 non-null  int64
 22  Tot_Srvcs                      67657 non-null  float64
 23  Tot_Bene_Day_Srvcs             67657 non-null  int64
 24  Avg_Sbmtd_Chrg                 67657 non-null  float64
 25  Avg_Mdcr_Alowd_Amt             67657 non-null  float64
 26  Avg_Mdcr_Pymt_Amt              67657 non-null  float64
 27  Avg_Mdcr_Stdzd_Amt             67657 non-null  float64
dtypes: float64(6), int64(3), object(19)
memory usage: 15.0+ MB

In [5]:
pc_charges = df.groupby('HCPCS_Cd')['Avg_Sbmtd_Chrg'].mean().round(2).reset_index()
pc_count = df.groupby('HCPCS_Cd')['Tot_Bene_Day_Srvcs'].sum().round(2).reset_index()
allowed_min = df.groupby('HCPCS_Cd')['Avg_Mdcr_Alowd_Amt'].min().round(2).reset_index()
allowed_max = df.groupby('HCPCS_Cd')['Avg_Mdcr_Alowd_Amt'].max().round(2).reset_index()
pc_charges

     HCPCS_Cd  Avg_Sbmtd_Chrg
0       00670         6003.29
1       00731         2893.17
2       00811         2771.74
3       00812         2292.74
4       00813         3356.37
...       ...             ...
1010    U0001           99.71
1011    U0002           94.00
1012    U0003          235.00
1013    U0004          150.00
1014    U0005           33.33

[1015 rows x 2 columns]